*,*::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;  
}

body{
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    display: flex;
    justify-content: center;
}
#foto_desk{
    display:none;
}
.container{
    display: flex;  
    margin: 20px 5px 5px 5px; 
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 720px;
    justify-content: center;
    border-radius: 10px;
    
}
img{
    height: 250px;
    width: 350px;
    border-radius: 25px;
}
h4{
    font-family: font-family: 'Fraunces', serif;
    font-size: 15px;
    margin: 15px 0 10px 20px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    
}
h1{
    font-size: 37px;
    margin: 10px 0 10px 20px;
}
p{
    font-size: 20px;
    margin: 10px 0 15px 20px;
    color: hsl(228, 12%, 48%);
    
    
}
.price{
    margin: 40px 0 10px 8px;
    
    
    
}
.price p{
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    
}
span{
    font-size: 12px;
    margin-left: 15px;
    color: hsl(228, 12%, 48%);
    

}
.button{
        margin: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        height: 35px;
        transition: .8s;
}
.button :hover{
    background-color: hsl(156, 39%, 20%);
}
button{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid ;  
}

/********desk********/

    @media screen and (min-width: 1000px) {

    
    .container{
        display: flex;
        flex-direction: column;
        width: 700px;
        height: 500px;
        margin-top: 400px;
    }
    .container_item{
        display: flex;
        flex-direction: row;
    }
    #foto_movil{
        display: none;
    }
    #foto_desk{
        display:flex;
        height: 500px;
        width: 400px;
        border-radius: 0px;
    }
    .desk_item{
        display: flex;
        flex-direction:column;
    }
    h4{
        font-size: 20px;
        margin-top: 25px;
    }
    h1{
        font-size: 40px;
    }


    p{
        line-height: 25px;
        font-size: 18px;
        margin: 10px 0 0px 20px;
    }
    .price{
        margin: 30px 0 8px 8px;
    }

    .button{
        width: 300px;
        height: 50px;
        border-radius: 10px;
    }
    button{
        
    }



    }




    



